* {
  box-sizing: border-box;

}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(253, 251, 112);
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  color: rgb(73, 21, 21);
}

.square {
  background: rgb(249, 249, 65);
  border: 2px solid rgb(73, 21, 21);
  border-radius: 2px;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-info {
  margin-left: 20px;
}

button {
  color: rgb(73, 21, 21);;
  background: rgb(249, 249, 65);
  border: 2px solid rgb(73, 21, 21);
  border-radius: 2px;
  padding: 5px 8px;
  margin-top: 3px;
  font-size: 15px;
}

.game-board button {
  color: rgb(73, 21, 21);;
  background: rgb(249, 249, 65);
  border: 2px solid rgb(73, 21, 21);
}